{{>layout/header}}
<h1 style="text-align:center;">To do List</h1>
<br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:right;">
                    <a href="/posts/save" role="button" class="btn btn-primary">일정 등록</a>
                </p>
            </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thread=strong">
                <tr bgcolor="WhiteSmoke">
                    <th style="text-align:center;">#</th>
                    <th style="text-align:center;">시간</th>
                    <th style="text-align:center;">제목</th>
                    <th style="text-align:center;">내용</th>
                    <th style="text-align:center;">중요도</th>
                </tr>
            </thead>
            <tbody id="tbody">
                </tbody>
            {{#posts}}
                    <tr>
                        <th style="text-align:center;" width="1%" bgcolor="Snow">{{id}}</th>
                        <th style="text-align:center;" width="9%" bgcolor="Snow">{{time}}</a></th>
                        <th style="text-align:center;" width="25%"bgcolor="Snow"><a href="/posts/update/{{id}}">{{title}}</th>
                        <th style="text-align:center;" width="45%"bgcolor="Snow">{{content}}</th>
                        <th style="text-align:center;" width="20%"bgcolor="Snow">
                            <form name="myform" id="myform" method="post" action="./save">
                                <fieldset>
                                    <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                                    <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                                    <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                                    <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                                    <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                                </fieldset>
                            </form>
                        </th>
                    </tr>
                {{/posts}}
            </tbody>
        </table>

{{>layout/footer}}
